<div class="page-header has-actions">
    <h2>Company users</h2>
</div>

<div class="page-actions">
    <a class="btn btn-small select-all" data-role="select-all"><i class="icon-check"></i> Select all</a>
    <a class="btn btn-small delete-selected"><i class="icon-remove"></i> Delete selected</a>
    <a class="btn btn-small btn-primary pull-right new-user"><i class="icon-plus icon-white"></i> Add User</a>
</div>

<table class="table">
    <colgroup>
        <col style="width:30px"/>
        <col style="width:140px"/>
        <col style="width:200px"/>
        <col/>
        <col/>
        <col/>
        <col style="width:100px;"/>
    </colgroup>
    <thead>
    <tr>
        <th></th>
        <th>Group</th>
        <th>Role</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>