{% extends "selleo/base.html" %}

{% block head %}
<style>
  .subnav a { cursor: pointer; }
</style>
{% endblock %}

{% block content %}
    <div class="row">

        <div id="menu" class="span3">
        </div>

        <div id="main-column" class="span7">
        </div>

        <div id="side-bar" class="span2">
            <div class="well" style="padding:12px;margin-bottom: 10px">widget</div>
            <div class="well" style="padding:12px">widget</div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
  $(function(){
    ViewWorld.app.router = new ViewWorld.Router;
  });
</script>
{% endblock %}
