<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ViewWorld</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <script src="{{ url_for('static', filename='js/viewworld.js') }}"></script>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="index.html">ViewWorld</a>

            <ul class="nav pull-right">
                <li><a href="#">Profile</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="span3">
            <div class="well subnav" style="padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Inbox:</li>
                    <li>
                        <a href="index.html">
                            <i class="icon-inbox"></i>
                            All
                        </a>
                        <span class="badge">7</span>
                    </li>
                    <li>
                        <a href="inbox-review.html">
                            <i class="icon-time"></i>
                            Awaiting review
                        </a>
                        <span class="badge">4</span>
                    </li>
                    <li>
                        <a href="inbox-returns.html">
                            <i class="icon-time"></i>
                            Awaiting returns
                        </a>
                        <span class="badge">3</span>
                    </li>


                    <li class="nav-header">Manage:</li>
                    <li>
                        <a href="collections.html">
                            <i class="icon-folder-open"></i>
                            Collections
                        </a>
                    </li>

                    <li class="active">
                        <a href="forms.html">
                            <i class="icon-list"></i>
                            Forms
                        </a>
                    </li>
                    <li class="nav-header">Organization:</li>
                    <li>
                        <a href="company-users.html">
                            <i class="icon-user"></i>
                            Users
                        </a>
                    </li>
                    <li>
                        <a href="company-groups.html">
                            <i class="icon-groups"></i>
                            Groups
                        </a>
                    </li>
                    <li>
                        <a href="company-roles.html">
                            <i class="icon-eye-close"></i>
                            Roles
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="span7">

            <ul class="breadcrumb">
              <li>
                <a href="index.html">ViewWorld</a> <span class="divider">/</span>
              </li>
              <li class="active">Forms</li>
            </ul>

            <div class="page-header has-actions">
                <h2>Forms</h2>
            </div>

            <div class="page-actions clearfix">
                <a href="forms-new.html" class="btn btn-small btn-primary pull-right"><i class="icon-plus icon-white"></i> Build new form</a>
            </div>

            <div id="form-list">
              <div id="form-list-active"></div> 
              <div id="form-list-inactive"></div> 
            </div>


        </div>
        <div class="span2">
            <div class="well" style="padding:12px;margin-bottom: 10px">widget</div>
            <div class="well" style="padding:12px">widget</div>
        </div>
    </div>
    
    <div class="footer">
        <p>&copy; 2012 ViewWorld</p>
    </div>    
</div>

<script type="text/template" id="form-template">
  <div class="x-entry x-entry-mini">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a href="forms-show.html" data-role="approve"  class="btn btn-small">Show</a>
      </div>
    </div>
    <div class="x-entry-title">
      <h3><a href="forms-show.html"><%= title %> (<%= reportCount %>)</a></h3>
    </div>
    <div class="x-entry-body">
      <p><strong>Collections:</strong> <% print(_.map(collections, function (col) { return col["title"]; }).join(", ")); %></p>
    </div>
  </div>
</script>

<script type="text/template" id="form-template-inactive">
  <div class="x-entry x-entry-mini x-entry-disabled">
    <div class="btn-toolbar pull-right">
      <span class="badge">Inactive</span>
    </div>
    <div class="x-entry-title">
      <h3><%= title %></h3>
    </div>
  </div>
</script>

<script type="text/javascript">
    $(function() {

        $(".btn[data-role='decline']").on("click", function() {
            $(this).parents('.x-entry').addClass('no-transitions').slideUp();
        });

        $(window).on("scroll", function() {
            var s = $("body").scrollTop();

            if (s >= 35) {
                $(".subnav").addClass("fixed");
            } else {
                $(".subnav").removeClass("fixed");
            }
        });

        var FormItemView = Backbone.View.extend({

          tagName: 'div',
          template: _.template($('#form-template').html()),
          template_inactive: _.template($('#form-template-inactive').html()),

          initialize: function() {
            this.model.bind('change', this.render, this);
            this.model.bind('destroy', this.remove, this);
          },

          render: function() {
            var template = (this.model.get('active')) ? this.template : this.template_inactive;
            this.$el.html(template(this.model.toJSON()));
            return this;
          }

        });

        var FormListView = Backbone.View.extend({

          initialize: function() {
            this.model.bind('add', this.addOne, this);
            this.model.bind('reset', this.addAll, this);

            this.model.fetch();
          },

          addOne: function(form) {
            var el = (form.get('active')) ? this.$('#form-list-active')
                                          : this.$('#form-list-inactive');
            var view = new FormItemView({model: form});
            el.append(view.render().el);
          },

          addAll: function() {
            this.model.each(this.addOne, this);
          }

        });

        var forms = new ViewWorld.Forms;
        var formlist = new FormListView({
          model: forms,
          el: '#form-list'
        });
    });
</script>


</body>
</html>
