<!doctype html>
<html>
  <head>
    <title>ViewWorld API test</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/viewworld.js') }}"></script>
  </head>
  <body>

    <h3>Test pages</h3>
    <ul>
      <li><a href="/test/forms">Forms</a></li>
    </ul>

  </body>
</html>
