<div class="page-header has-actions">
    <h2>Company groups</h2>
</div>

<div class="page-actions">
    <a class="btn btn-small select-all" data-role="select-all" href="#"><i class="icon-check"></i> Select all</a>
    <a href="#" class="btn btn-small delete-selected"><i class="icon-remove"></i> Delete selected</a>
    <a href="company-groups-new.html" class="btn btn-small btn-primary pull-right"><i class="icon-plus icon-white"></i> Add Group</a>
</div>

<table class="table">
    <colgroup>
        <col style="width:30px"/>
        <col/>
        <col style="width:100px;"/>
    </colgroup>
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="group-tree"></tbody>
</table>